In [3]:
import pandas as pd

In [19]:
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [20]:
#將問卷資料的職業(Profession)欄位缺失值填入字串'others'
q_df = q_df.fillna('others')
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [ ]:
#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合？為什麼？
A: 使用one_hot encoding，因為profession職位之間是沒有順序性的

In [26]:
profession_data = pd.get_dummies(q_df['Profession'])
newcode = pd.concat([q_df,profession_data],axis = 1)
print(newcode)

      Sex Profession  engineer  others  teacher
0    male    teacher         0       0        1
1    male   engineer         1       0        0
2  female     others         0       1        0
3  female   engineer         1       0        0