In [6]:
import pandas as pd

In [11]:
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
setscore = score_df.set_index('student_id')
setscore

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [18]:
#6號學生(student_id=6)3科平均分數為何?
setscore[setscore.index==6].mean(axis = 1)

student_id
6    56.333333
dtype: float64

In [14]:
#6號學生3科平均分數是否有贏過班上一半的同學
setscore.mean(axis = 1).describe()

count    10.000000
mean     60.933333
std       9.171615
min      44.000000
25%      56.500000
50%      59.833333
75%      64.500000
max      78.666667
dtype: float64

In [ ]:
全班平均中位數為59.83，6號學生三科平均為56.3，沒有超過班上一半同學。

In [15]:
#由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?
newscore = setscore.apply(lambda x : x**(0.5)*10)
newscore[newscore.index==6]

            math_score  english_score  chinese_score
student_id
6            77.459667      73.484692      74.161985

In [16]:
#承上題，加分後各科班平均變多少
newscore.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64